.NavBar {
    text-align: center;
    width: 100%;
    top: 0;
    margin-bottom: 30px;
    border-bottom:1px solid rgb(72, 72, 72);
    border-bottom-style: groove;
}

.NavBar-body {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: rgb(0, 0, 0);
}

.NavBar-title-box {
  width: 100%;
  height: 50%;
  display: flex;
  padding-top: 0px;
}

.NavBar-title {
  height: 50%;
  display: inline-flex;
  margin: auto;
  padding: 5px;
  padding-top: 20px;
}

.NavBar-links-box {
  width: 100%;
  height: 50%;
  display: flex;
  padding-top: 0px;
}
.NavBar-link {
  height: 50%;
  display: inline-flex;
  margin: auto;
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(99, 99, 99);
}