.NavBar {
  text-align: center;
  top: 0;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.NavBar-body {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: rgb(0, 0, 0);
}

.NavBar-title-box {
  width: 100%;
  height: 50%;
  display: flex;
  padding-top: 0px;
}

.NavBar-title {
  height: 50%;
  display: inline-flex;
  margin: auto;
  padding: 5px;
  padding-top: 20px;
}

.NavBar-links-box {
  height: 50%;
  display: inline-flex;
  margin: auto;
  border-bottom: 1px solid #eaded4;;
  border-bottom-style: groove;
}

.NavBar-link {
  height: 50%;
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(99, 99, 99);
}