.Home-box {
    margin-top: 30px;
    font-size: calc(3px + 2vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}

.SideBar {
    border-right: 1px solid #353535;
    border-right-style: solid;
    padding: 5px;
    height: 100vh;
    width: 15%;
    text-align: left;
    font-size: calc(5px + 1.5vmin);
}

.SideBar-right {
    /* border-left: 1px solid rgb(72, 72, 72);
    border-left-style: dotted; */
    padding: 5px;
    height: 100vh;
    width: 15%;
}

.SideBar-hidden-item {
    content: '.';
    visibility: hidden;
}

.SideBar-item {
    margin-bottom: 5px;
}

.PlantPanel {
    width: 60%;
    height: 100vh;
    float: left;
    padding: 10px;
}

.PlantBox {
    margin-bottom: 30px;
}

.PlantText {
    margin-bottom: 10px;
}

.PlantImage {
    border-radius: 5px;
    height: 40vmin;
    pointer-events: none;
}