.Home {}

.SideBar {
    width: 25%;
    flex-direction: column;
    float: left;
    border-right:1px solid rgb(72, 72, 72);
    border-right-style: dotted;
}

.SideBar-item {}

.PlantPanel {
    width: 74%;
    height: 100vh;
    float: right;
    margin: auto;
}

.PlantBox {
    margin-bottom: 30px;
    border-bottom:1px solid rgb(72, 72, 72);
    border-bottom-style: dotted;
}

.PlantText {
    margin-bottom: 10px;
}

.PlantImage {
    border-radius: 5px;
    height: 40vmin;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(99, 99, 99);
}