.Home {
    display: flex;
    margin: auto;
}

.SideBar {
    width: 30%;
    float: left;
    height: 100%;
}

.SideBar-item {}

.PlantBox {
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PlantText {
    width: 100%;
}
.PlantImage {
    border-radius: 5px;
    height: 40vmin;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(99, 99, 99);
}