.App {
  text-align: center;
  font-size: calc(6px + 2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-image {
  height: 60vmin;
  pointer-events: none;

}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: auto;
}

a:hover {
  color: rgb(157, 157, 157);
  text-align: center;
  vertical-align: center;
}

.NavBar {
  margin: auto;
  height: 7vh;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  top: 0;
  background-image: linear-gradient(to right, rgb(207, 222, 250) , rgb(246, 212, 231));
}

/* .NavBar-body {
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: inherit;
} */

.NavBar-title-box {
  float: left;
  display: inline-flex;
  font-size: x-large;
  height: 100%;
  text-align: center;
  font-size: 25px;
  width: 35%;
}
.NavBar-title-box-right {
  float: right;
  display: inline-flex;
  font-size: x-large;
  height: 100%;
  text-align: center;
  font-size: 25px;
  width: 35%;
}
.NavBar-links-box {
  display: inline-flex;
  float: left;
  height: 100%;
  width: 30%;
  padding: auto;
}

.NavBar-link {
  margin: auto;
  /* border-right: 1px solid #000000;
  border-right-style: solid; */
}

.main {
  margin-top: 7vh;
  height: 93vh;
}