.App {
  text-align: center;
  font-family: Camphor,"Open Sans","Segoe UI",sans-serif;
  font-size: calc(6px + 2vmin);
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-image {
  height: 60vmin;
  pointer-events: none;

}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(99, 99, 99);
}