.box {
    background-color: rgb(137, 164, 187);
    width: 50%;
    height: 1000px;
}

p {
    text-align: left;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    /* border-bottom: rgb(195, 204, 218);
    border-bottom-style: dotted;
    border-bottom-width: 3px; */
}

h3 {
    color: rgb(0, 0, 0);
    text-align: left;
    border-bottom: rgb(155, 141, 124);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h4 {
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: left;
}

p2 {
    text-align: left;
}

.buffer {
    height: 300px;
}

.details {
    font-style: italic;
    text-align: left;
}

.education {
    color: rgb(0, 0, 0);
}