.box {
    background-color: rgb(137, 164, 187);
    width: 50%;
    height: 1000px;
}

p {
    text-align: left;
}
h3 {
  padding-bottom: 10px;
  border-bottom: rgb(195, 204, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px; 
}