* {
  box-sizing: border-box;
}

html {
  background-color: #232631;
  padding: 0;
  font-family: serif;
  font-weight: 100;
}

body {
  background-color: #232631;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif; */
  padding: 0;
  /* background-color: #1c1d1f; */
  color: rgb(0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main {
  border-radius: 0.5%;
  /* background-color: #709e90; */
  background-image: url("/green.jpeg");
  background-position: bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 98%;
  height: 94vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px auto auto auto;
}

.header {
  width: 100%;
  height: 3vh;
  position:fixed;
  top: 0;
}

.footer {
  width: 100%;
  height: 4vh;
  background-color: #232631;
  position:fixed;
  bottom: 0;
  padding: 0px 40px 5px 40px;
  font-size: small;
  color: #969393;
}

.copyright {
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  display: block;
  max-width: 300px;
  margin: 0.5rem 0;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.nav-bar-wrapper {
  background-color: rgb(159, 146, 121);
  border-radius: 0.5%;
  width: 100%;
  height: 10vh;
  position: fixed;
}
nav {
  position: sticky;
  font-size: 1rem;
  margin: 1% auto 1% auto;
  display: flex;
  justify-content: space-between;
  /* border-bottom: rgb(76, 109, 165);
  border-bottom-style: solid;
  border-bottom-width: 1px; */
}

nav a {
  width: 50%;
  /* margin: 10px; */
}

nav a:hover {
  color: rgb(98, 111, 116);
  transition: 0.3s;
}

.nav-link-box {
  border-right: #757575;
  border-right-style: solid;
  border-right-width: 1px;
  padding: 15px;
}

.nav-link-box-right {
  padding: 15px;
}

.page {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  float: right;
}

.link {
  height: 28px;
  width: 28px;
  margin-left: 15px;
  border-radius: 10%;
  color: #5c70d6;
}

.image-small {
  height: 20px;
  width: 15px;
  margin-right: 10px;
}
.image-small:hover {
  cursor: copy;
}

@media screen and (max-width: 750px) {
  html {
    /* background-image: url("/bg-sml.jpg"); */
    background-color: #444A5F;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  main {
    width: 100%;
    height: 97vh  ;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
  }

  nav {
    margin: 0 auto 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .footer {
    width: 100%;
    height: 3vh;
    position:fixed;
    bottom: 0;
    padding: 5px 5px;
    font-size: small;
  }
  .copyright {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-small:hover {
    cursor: pointer;
  }
  .link {
    height: 25px;
    width: 25px;
    margin-left: 15px;
    border-radius: 10%;
  }
}